doctype html
html(lang='zh-cmn-Hans')
  head
    // 声明文档使用的字符编码
    meta(charset='utf-8')
    // 优先使用 IE 最新版本和 Chrome
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    // 页面描述
    meta(name='description', content='talks,collection')
    // 页面关键词
    meta(name='keywords', content='')
    // 网页作者
    meta(name='author', content='Yi, ya10302@sina.com')
    // 搜索引擎抓取
    meta(name='robots', content='collection,收藏')
    // 禁止百度转码
    meta(http-equiv='Cache-Control', content='no-siteapp')
    // 为移动设备添加 viewport
    meta(name='viewport', content='initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no')
    // `width=device-width` 会导致 iPhone 5 添加到主屏后以 WebApp 全屏模式打开页面时出现黑边 http://bigc.at/ios-webapp-viewport-meta.orz
    // 启用360浏览器的极速模式(webkit)
    meta(name='renderer', content='webkit')
    // 避免IE使用兼容模式
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓
    meta(name='HandheldFriendly', content='true')
    // 微软的老式浏览器
    meta(name='MobileOptimized', content='320')
    // uc强制竖屏
    meta(name='screen-orientation', content='portrait')
    // QQ强制竖屏
    meta(name='x5-orientation', content='portrait')
    // UC强制全屏
    meta(name='full-screen', content='yes')
    // QQ强制全屏
    meta(name='x5-fullscreen', content='true')
    // UC应用模式
    meta(name='browsermode', content='application')
    // QQ应用模式
    meta(name='x5-page-mode', content='app')
    // windows phone 点击无高光
    meta(name='msapplication-tap-highlight', content='no')
    // 禁止缓存
    meta(http-equiv='Expires', content='0')
    meta(http-equiv='Pragma', content='no-cache')
    meta(http-equiv='Cache-control', content='no-cache')
    meta(http-equiv='Cache', content='no-cache')
    title Talks-收藏
    link(rel='stylesheet', type='text/css', href='css/normalize.css')
    link(rel='stylesheet', type='text/css', href='css/collection.css')
    link(rel='stylesheet', type='text/css', href='icomoon/style.css')
  body
    .wrapper
      .nav
        .go_back
          a(href='/userindex')
            i.icon-arrow-left2
        .main_title 收藏
      .userindex-content
        .loading
          i.icon-spinner
          | loading...
        if hearts != null
          ol.say-content
            each heart in hearts
              li.say-item
                .say-item-content
                  .say-user
                    .user-img-box
                      .user-img
                        img(src=heart.userimg, alt="")
                    .say-title
                      h3
                        a(href="/user/"+heart.userid)=heart.nickname
                      h6=moment(heart.writetime).format('MM-DD HH:mm:ss')
                  a(href="/userindex/heartinfo/"+heart._id)
                    p.article-content=heart.content
                  .article-img-box
                    if heart.writeimgs != ''
                      ul
                        - var imgs = heart.writeimgs.split(',')
                        each img in imgs
                          li
                            img(src=img, alt="")
                .say-item-local-icon
                  .location
                    i.icon-compass=heart.location
                  .choice-icon
                    span
                      i.icon-share.transmit(data-id='#{heart._id}')=heart.transmit 
                    span
                      a(href="/userindex/heartinfo/"+heart._id)
                        i.icon-bubble3=heart.commentnum 
                    span
                      i.icon-like.agree(data-id='#{heart._id}')=heart.agree 
    #slider_box.user_img_bg_look
      ul#slider
      #go_back_main.go_back_main
        i.icon-arrow-left2
      #index_num.index_num
    .sendmessage
    p.copy 版权所有:吉首大学 技术支持: 杨进益
    script(type="text/javascript" , src='bootstrap-3.3.4/js/jQuery-2.1.3.js')
    script(type='text/javascript', src='js/collection.js')
