doctype html
html(lang='zh-cmn-Hans')
  head
    meta(charset='UTF-8')
    // 声明文档使用的字符编码
    meta(charset='utf-8')
    // 优先使用 IE 最新版本和 Chrome
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    // 页面描述
    meta(name='description', content='talks,悄悄话后台登录,同城交友')
    // 页面关键词
    meta(name='keywords', content='')
    // 网页作者
    meta(name='author', content='Yi, ya10302@sina.com')
    // 搜索引擎抓取
    meta(name='robots', content='login,悄悄话后台登录')
    // 禁止百度转码
    meta(http-equiv='Cache-Control', content='no-siteapp')
    // 为移动设备添加 viewport
    meta(name='viewport', content='initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no')
    // `width=device-width` 会导致 iPhone 5 添加到主屏后以 WebApp 全屏模式打开页面时出现黑边 http://bigc.at/ios-webapp-viewport-meta.orz
    // 启用360浏览器的极速模式(webkit)
    meta(name='renderer', content='webkit')
    // 避免IE使用兼容模式
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓
    meta(name='HandheldFriendly', content='true')
    // 微软的老式浏览器
    meta(name='MobileOptimized', content='320')
    // uc强制竖屏
    meta(name='screen-orientation', content='portrait')
    // QQ强制竖屏
    meta(name='x5-orientation', content='portrait')
    // UC强制全屏
    meta(name='full-screen', content='yes')
    // QQ强制全屏
    meta(name='x5-fullscreen', content='true')
    // UC应用模式
    meta(name='browsermode', content='application')
    // QQ应用模式
    meta(name='x5-page-mode', content='app')
    // windows phone 点击无高光
    meta(name='msapplication-tap-highlight', content='no')
    // 禁止缓存
    meta(http-equiv='Expires', content='0')
    meta(http-equiv='Pragma', content='no-cache')
    meta(http-equiv='Cache-control', content='no-cache')
    meta(http-equiv='Cache', content='no-cache')
    title 悄悄话-说说管理
    link(rel='stylesheet', href='../bootstrap-3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='../bootstrap-3.3.4/css/bootstrap-theme.min.css')
    script(src='../bootstrap-3.3.4/js/jQuery-2.1.3.js')
    script(src='../bootstrap-3.3.4/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='../css/admin/heartadmin.css')
    link(rel='stylesheet', type='text/css', href='../icomoon/style.css')
  body
    .wrapper
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand.adminlogo(href='/admin')
              img(src='../img/logosm.png', alt='')
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/admin') 首页
              li
                a(href='/admin/useradmin') 会员管理
              li.active
                a(href='/admin/heartadmin') 说说管理
              li
                a(href='/admin/photoadmin') 图片管理
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#') 信息
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')=admin.adminnickname
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') 个人资料
                  li
                    a(href='#') 帐号设置
                  li
                    a(href='/admin/exit') 安全退出
          // /.navbar-collapse
        // /.container-fluid
      .container-my
        .userlist_title
          h4.choice.heartall 全部
          h4.notdj 未冻结
          h4.ondj 已冻结
        .heart_list
          ol.say-content
            each heart in hearts
              li.say-item
                .say-item-content
                  .say-user
                    .user-img-box
                      .user-img
                        img(src='../'+heart.userimg, alt='')
                    .say-title
                      h3=heart.nickname
                      h6=moment(heart.writetime).format('MM-DD-YYYY HH:mm:ss')
                    span.pushpin
                      if heart.freeze == 0
                        button.btn.btn-danger.btn-sm(type='button' ,data-id='#{heart._id}') 冻结
                      else
                        button.btn.btn-success.btn-sm(type='button' ,data-id='#{heart._id}') 解锁
                  p.article-content=heart.content
                  .article-img-box
                    if heart.writeimgs != ''
                      ul
                        - var imgs = heart.writeimgs.split(',')
                        each img in imgs
                          li
                            img(src='../'+img, alt="")
      p.addmore 
        i.icon-spinner 加载更多
      p.copy 版权所有:吉首大学 技术支持: 杨进益
  script(type='text/javascript' , src="../js/heartadmin.js")
